#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10%
}
#customers tbody tr {
    height: 100px;
}
#customers thead th{
    text-transform: capitalize;

}

#customers tbody td, #customers thead th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers thead th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
#deleteData{
    margin-top: 7%;
    height: 20px;;
    
}